/////////////////////////////
// color palette
/////////////////////////////

$blue-l: rgba(0,150,255,0.1);

$grey-l: rgba(150,150,150,0.1);

$navy: navy;

$white: #eeeeee;

/////////////////////////////
// color mapping
/////////////////////////////

$ccam: orange;
