/////////////////////////////
// color palette
/////////////////////////////

$blue-l: rgba(0,150,255,0.1);

$grey-l: rgba(150,150,150,0.1);



/////////////////////////////
// color mapping
/////////////////////////////

$ccam: orange;
