/////////////////////////////
// color palette
/////////////////////////////

$black: #333333;
$black-l: #444444;

$blue-l: #31b0d5;
$blue: #1c67ac;

$grey-l: rgba(150,150,150,0.1);

$navy: navy;

$purple-l: #5d83bd;

$white: #eeeeee;

/////////////////////////////
// color mapping
/////////////////////////////

$ccam: orange;
$cim: $blue;
